.wrapper {
  padding: 10% 5%;
  background-color: rgb(149, 149, 149);
  border-top: 1px solid black;
}
.formWrapper {
  padding: 10px;
  background-color: rgb(53, 53, 53);
  border-radius: 10px;
}
.formWrapper form {
  display: flex;
  flex-direction: column;
}
.formWrapper p {
  font-size: 2.7rem;
  text-align: center;
  margin: 2% 0;
  color: white;
}

.formSubmitBtn {
  width: 50%;
  margin: 10px auto;
  color: white;
  border-color: white;
}
