.wrapper {
  padding: 10% 5%;
  background-color: #495057;
  position: relative;
  margin-top: 100px;
  min-height: 330px;
}

.menu {
  display: none;
}
.formWrapper {
  padding: 10px;
  background-color: #e8590c;
  border-radius: 10px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 900px;
}
.formWrapper form {
  display: flex;
  flex-direction: column;
}
.formWrapper p {
  font-size: 2.7rem;
  text-align: center;
  margin: 2% 0;
  color: white;
}

.formSubmitBtn {
  width: 50%;
  margin: 10px auto;
  color: white;
  border-color: white;
}
.list {
  display: flex;
  list-style: none;
  flex-direction: column;
  color: #343a40;
}
.list li {
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in;
  font-size: 1.6rem;
}
.list li:hover {
  background-color: #e8590c;
  color: white;
}

.formWrapper .errorMessage {
  font-size: 1.3rem;
  margin: 0 0 2%;
}

@media (min-width: 700px) {
  .wrapper {
    padding: 3%;
    background-color: #ced4da;
    position: relative;
    margin-top: 100px;

    height: auto;
  }
  .content {
    max-width: 1200px;

    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  .formWrapper {
    padding: 10px;
    background-color: #343a40;
    border-radius: 10px;
    position: initial;
    transform: translateX(0);
  }
  .menu {
    display: flex;
    align-items: center;
    width: 40%;

    justify-content: center;
    border-right: 1px solid #adb5bd;
  }
}
