.wrapper {
  display: grid;
  min-height: 70vh;
  justify-items: center;
  width: 100%;
}
.form {
  text-align: center;
  width: 100%;
}
.form textarea,
.form input {
  min-width: 90%;
  max-width: 300px;
}
.form textarea {
  height: 50vh;
  max-height: 500px;
  min-height: 300px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  align-self: center;
  margin-top: 5%;
}

.errorMessage {
  color: red;
  text-align: start;
  width: 90%;
  margin: 0 auto 15px auto;
}
