@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

html,
body {
  font-family: "Rubik", sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea {
  padding: 4%;
  font-size: 1.5rem;
  margin: 2% 0;
  color: rgb(71, 71, 71);
  border-radius: 10px;
  border-style: none;
  outline: none;
  font-family: "Rubik";
  border: 1px solid black;
}
textarea {
  max-width: 100%;
}

button {
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1.3rem;
  border-style: none;
  border: 1px solid black;
  background-color: transparent;
  font-family: "Rubik";
  letter-spacing: 1.1px;
  cursor: pointer;
  margin: 10px 0;
}
.secondary-btn {
  border: none;
  text-decoration: underline;
  text-underline-offset: 2px;
  margin: 0 auto;
}
