@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* main color: #f76707 gray color: #495057 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  background-color: #f8f9fa;
}
html,
body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}
body {
  font-size: 2rem;
  margin: 0 auto;
  color: #343a40;
}

a {
  color: #ffa94d;
  text-decoration: none;
}

input,
textarea {
  padding: 4%;
  margin: 2% 0;
  color: #343a40;
  border-radius: 10px;
  border-style: none;
  outline: none;
  font-family: "Inter";
  border: 1px solid #343a40;
  font-size: 2rem;
}

input:focus,
textarea:focus {
  border: 1px solid #ff922b;
}

button {
  border-radius: 25px;
  padding: 10px 20px;
  border-style: none;
  border: 1px solid #343a40;
  color: #343a40;
  background-color: transparent;
  font-family: "Inter";
  letter-spacing: 1.1px;
  font-size: 2rem;
  cursor: pointer;
  margin: 10px 0;
}
.secondary-btn {
  border: none;
  text-decoration: underline;
  text-underline-offset: 2px;
  margin: 0 auto;
}
