.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.wrapper h1 {
  text-align: center;
  margin: 40px auto;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.form textarea {
  min-height: 30vh;
  min-width: 100%;
}

.form button {
  width: 45%;
  align-self: flex-end;
  max-width: 250px;
}

@media (min-width: 630px) {
  .form textarea {
    min-height: 50vh;

    padding: 2.5%;
  }
  .form input {
    padding: 2.5%;
  }
}
