.wrapper {
  min-width: 90vw;
  margin: 0 auto;
}
.wrapper h1 {
  text-align: center;
  margin: 20px auto;
}

.form {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}
.form textarea {
  max-width: 100%;
  max-height: 500px;
  min-height: 300px;
}

.form button {
  width: 45%;
  align-self: flex-end;
  max-width: 250px;
}

@media (min-width: 630px) {
  .form textarea {
    min-height: 50vh;

    padding: 2.5%;
  }
  .form input {
    padding: 2.5%;
  }
  .wrapper h1 {
    margin: 40px auto;
  }
}
